@import 'variables';
.Header {
    background:$primaryC;
    text-align:center;
    position:fixed;
    top:0;
    left:0;
    z-index:2000;
    width:100%;
    height:50px;
    * {
        color:white;
        font-size:24px;
        display:inline-block;
        padding:3px 20px;
        text-decoration:none;
        text-transform:uppercase;
        font-weight:bold;
        font-family:$josefin-sans;
    }
    a {
        cursor:pointer;
        transition:.25s;
        &:hover {
            opacity:.5;
        }
    }
}